.footer {
    @include flex(flex, row, nowrap, space-between, center, center);

    background-color: #191F24;
    min-height: 200px;
    margin-top: 500px;
    padding: 0 100px;

    &-left {
        p {
            &:nth-child(2n) {
                color: $color-accent
            }
        }
    }
}