.header {
    @include flex(flex, row, nowrap, space-between, center, center);
    background-color: #574B42; 
    color: white;
    height: auto;
    width: 100%;
    padding: 0.6em 6em;

    span, i {
        color: $color-accent
    }

    &-left {
        
    }

    &-right {
        @include flex(flex, row, nowrap, space-around, center, center);
    }
}